/*-- FONTS --*/ 
@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/ProximaNova-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/ProximaNova-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/ProximaNova-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/ProximaNova-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/ProximaNova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/ProximaNova-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
}

/*----VARIABLES----*/ 
$main-color: #333d51;
$second-color: #004fec;

body {
  font-family: 'ProximaNova', sans-serif;
  font-style: 25px;
  font-weight: 400;
  color: $main-color;
  padding: 0;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

div, p, form, input, a, span, textarea, button {
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $main-color;
}

h1, h2, h3, h4 {
  margin: 0;
}

.App {
  .header {
    padding: 45px 0;
    .hero {
      display: flex;
      justify-content: space-between;
      .logo {
        font-weight: 700;
        font-size: 25px;
        text-decoration: none;
        color: $main-color;
      }
      .menu {
        .menu__list {
          display: flex;
          li:not(:last-child) {
            margin-right: 35px;
          }
          li {
            a {
              font-weight: 400;
              font-size: 18px;
              &:hover {
                color: $second-color;
              }
            }
            a.active {
              color: $second-color;
            }
          }
        }
      }
    }
  }
  .content {
    padding: 90px 0;
    .news {
      .news__title {
        font-weight: 400;
        font-size: 60px;
        line-height: 1.0em;
        & span {
          color: $second-color;
        }
      }
      .news__title_main {
        max-width: 444px;
        width: 100%;
      }
      .news__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 75px;
        .news__item {
          max-width: 350px;
          width: 100%;
          min-height: 290px;
          padding: 24px 25px;
          margin-bottom: 30px;
          position: relative;
          margin-right: 20px;
          &::before {
            content: '';
            display: block;
            width: 2px;
            height: 113px;
            background-color: $second-color;
            position: absolute;
            top: 50px;
            left: 0;
          }
          .news__preview {
            font-weight: 400;
            font-size: 25px;
          }
          .news__sign {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: absolute;
            bottom: 24px;
            left: 25px;
            width: 300px;
            text-transform: lowercase;
            font-weight: 400;
            font-size: 20px;
            .news__source {
              color: rgba(51, 61, 81, 0.5);
            }
            .news__date {
              color: rgba(51, 61, 81, 0.5);
              span {
                font-size: 30px;
                color: $main-color;
                &::after {
                  content: '/';
                  color: rgba(51, 61, 81, 0.5);
                  font-size: 20px;
                  margin-left: 7px;
                  margin-right: 7px;

                }
              }
            }
          }
        }
      }
      .news__link {
        font-weight: 400;
        font-size: 20px;
        color: $second-color;
        margin-top: 60px;
      }
    }
  }
  .news-detail {
    display: flex;
    justify-content: space-between;
    .news-detail__left {
      max-width: 350px;
      width: 100%;
      .news-detail__title {
        font-weight: 400;
        font-size: 60px;
        word-break: break-word;
        & span {
          color: $second-color;
        }
      }
      .news-detail__link {
        text-transform: lowercase;
        display: block;
        font-weight: 400;
        font-size: 25px;
        color: rgba(51, 61, 81, 0.5);
        margin: 30px 0;
      }
      .news-detail__date {
        color: rgba(51, 61, 81, 0.5);
        span {
          font-size: 30px;
          color: $main-color;
          &::after {
            content: '/';
            color: rgba(51, 61, 81, 0.5);
            font-size: 20px;
            margin-left: 7px;
            margin-right: 7px;

          }
        }
      }
    }
    .news-detail__right {
      max-width: 730px;
      width: 100%;
      .news-detail__picture {
        margin-bottom: 60px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .news-detail__text {
        font-weight: 400;
        font-size: 25px;
      }
    }
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contacts__left {
      .contacts__tel {
        font-weight: 400;
        font-size: 60px;
        color: $second-color;
      }
      .contacts__name {
        display: block;
        font-weight: 400;
        font-size: 25px;
        padding-left: 23px;
        margin-top: 50px;
        margin-bottom: 29px;
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 2px;
          height: 53px;
          background-color: $second-color;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .contacts__email {
        font-weight: 400;
        font-size: 20px;
      }
      .contacts__trade {
        font-weight: 400;
        font-size: 20px;
        color: rgba(51, 61, 81, 0.5);
        margin-top: 52px;
        margin-bottom: 25px;
      }
      .contacts__norm {
        font-weight: 400;
        font-size: 20px;
        & span {
          color: $second-color;
        }
      }
    }
  }
  .footer {
    padding: 45px 0;
    .ft-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ft-content__left {
        .ft-content__strong {
          font-weight: 700;
          font-size: 25px;
        }
        .ft-content__light {
          font-weight: 400;
          font-size: 12px;
        }
      }
      .ft-content__center {
        font-weight: 400;
        font-size: 15px;
      }
      .ft-content__right {
        text-align: right;
        .ft-content__light {
          font-weight: 400;
          font-size: 12px;
        }
        .ft-content__strong {
          font-weight: 700;
          font-size: 25px;
        }
      }
    }
    
  } 
}
